# ==================== PostgreSQL ====================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=shortener
POSTGRES_PASSWORD=secret
POSTGRES_DB=shortener

# ==================== Redis ====================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=3600

# ==================== Kafka ====================
KAFKA_BROKERS=localhost:9094
KAFKA_CLICKS_TOPIC=link.clicks
KAFKA_CONSUMER_GROUP=stats-service

# ==================== Worker Pool (монолит, для обратной совместимости) ====================
WORKER_COUNT=5
WORKER_BUFFER_SIZE=1000

# ==================== Сервисы ====================
# Link Service
LINK_SERVICE_PORT=8081
# Stats Service
STATS_SERVICE_PORT=8082
# API Gateway
GATEWAY_PORT=8080
LINK_SERVICE_URL=http://localhost:8081
STATS_SERVICE_URL=http://localhost:8082

# ==================== Общее ====================
SERVICE_NAME=url-shortener
SERVER_PORT=8080
